
CSS Rules
Syntax: ;
selector {
	property:  value;
}
*/

/*1. UNIVERSAL SELECTOR ( LOWEST)*/
/*change the font of every element in HTML (*) */

* {
	font-family: Courier New, monospace;
	font-size: 20px;
}
/*The "*" symbol is a "universal selectors" and is used to target ALL Elements*/
/*The "font-family" property changes the style of the font.*/
/* The value "courier New" is used as the primary font and the value " monospace " is used as a secondary font when a browser is unable to use the primary font */
/*The value "20px" refers to 20 pixels in size.*/


/* 2. TYPE SELECTORS */
body {
	background-color: skyblue;
}
/*The "background-color" property changes the background of an element.*/


/*3. ATTRIBUTE SELECTORS*/
/*The attribute selector only works based on the exact attribute syntax provided in the HTML tag.
It's also case sensitive*/
input[required] {
	border-style: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*CLASS SELECTOR*/
/*The "class " attribute is used to target elements with similar styling. This is a good approach to use for elements that have similar stules across the whole applications*/
.offering-item {
	text-transform: uppercase;
}
/*
- The "text-transform" property changes font to a certain case.
- The value "uppercase" changes text to all capitalized letters
*/

/*5. ID SELECTOR*/
#zuitt-motto {
	letter-spacing: 5px;
}
/*
- The "id" attribute is used to target elements with unique styling. This is a good approach to use for elements that should have their own style acrosss the whole application.
- The "letter-spacing" property changes the spaces in between characters of a text
- ID selectors have the highest priority for selectors will not work because ID selector has a higher priority
*/

/*CSS SELECTORS COMBINATORS*/

/*ADJACENT SIBLING SELECTORS*/
/*sibling_element + target_element {
	property: value*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTORS*/
/*
Syntax: ;
sibling_element ~ target_element {
	property:  value;
}
*/

h2 ~ a, a {
	text-decoration: none;
}

/*CHILD SELECTORS*/
/*Syntax: 
	selector1 > selector2 {
	style:  properties
	}
*/

body > section > form > label {
	color: rgb(0,0,128);
}
/*RGB Colors*/

/*DESCENDANT SELECTORS*/
/*
Syntax: 
	Selectors1 selector {
	style:  properties;
	}
*/

#bootcamp-learning-list li{
	color: #075966;
}

/*WHOLE HTML*/

html {
	scroll-behavior: smooth;
}

/*NAVIGATION BAR*/
nav {
	background-color: white;
}

/*Selector Hower Pseudo Class*/
/*Changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for the Navigation Bar*/
div {
	display: inline-block;
	float: right;
}

/*LANDING section and Form Sections*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*Remove number from list*/
ol {
	list-style-type: none;
}

/*Register section form*/

form {
	text-align: center;
	background-color: white;
	border:  2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}