body {


}

* {
    font-family: cursive;
    font-size: 18px;
}

#paragraph {
    font-family: cursive;
    font-size: 15px ;
    color: yellow;

}

h1 {
    font-size: 40px;
    color: green;
}
#h2-text {
    text-transform: uppercase;
}
.languages {
    background-color: lightgreen;
}
ol[title="ordered"] > li {
    border: 1px rgb(100, 150, 200) solid;
   
}
section > ul > li  {
    letter-spacing: 1em ; 
    list-style-type: none;
    letter-spacing: 5px;
}

#section-2 img {
    height: 300px;
    width: 300px;
    border-radius: 150px;

}
h4 ~ p{
   color: black;
   text-align: center; 
}

